<!-- 

<ng-template [ngIf]="activeTab && !activeTab.isDataTable">
  <div class="newTab border">
    <mat-accordion class="headers-align">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Open Existing Layer </mat-panel-title>
          <mat-panel-description>
            Load a layer from your computer or a URL
          </mat-panel-description>
        </mat-expansion-panel-header>
        <table class="inputTable">
          <tr>
         
            <td>
              <button mat-button (click)="openUploadPrompt()">
                Upload from local
              </button>
              <input id="uploader" type="file" style="display: none" (change)="loadLayerFromFile()" />
            </td>

            <td><b style="font-size: 8pt">OR</b></td>

          
            <td>
              <mat-form-field>
                <input type="text" matInput placeholder="Load from URL" [(ngModel)]="loadURL" />
                <button mat-button matSuffix mat-icon-button aria-label="go" *ngIf="loadURL"
                  (click)="loadLayerFromURL(loadURL, true)">
                  >
                </button>
              </mat-form-field>
            </td>
          </tr>
        </table>
      </mat-expansion-panel>
    </mat-accordion>
    <div class="helpButtonContainer">
      <button mat-button>help</button>
    </div>
  </div>
</ng-template> -->
<button mat-button  color="primary" (click)="readJSON()">View My coverage</button>
<ng-template [ngIf]="viewMod">
  <DataTable [viewModel]="viewMod"></DataTable>
</ng-template>
