<!--
  oooo     oooo      o   ooooooooooo oooooooooo  ooooo ooooo  oooo
   8888o   888      888  88  888  88  888    888  888    888  88
   88 888o8 88     8  88     888      888oooo88   888      888
   88  888  88    8oooo88    888      888  88o    888     88 888
  o88o  8  o88o o88o  o888o o888o    o888o  88o8 o888o o88o  o888o 
-->

<div class="matrices" oncontextmenu="return false">
  <div
    class="spinner"
    *ngIf="!dataService.getDomain(viewModel.domainID).dataLoaded"
  >
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </div>
  <div class="matrices-columns">
    <div
      class="matrix-column"
      *ngFor="let matrix of dataService.getDomain(viewModel.domainID).matrices"
    >
      <div
        *ngIf="dataService.getDomain(viewModel.domainID).matrices.length > 1"
        class="matrix-name"
      >
        {{ matrix.name }}
      </div>
      <div>
        <matrix-side
          [matrix]="matrix"
          [viewModel]="viewModel"
          (selectionChanged)="onTechniqueSelect()"
        ></matrix-side>
      </div>
    </div>
  </div>
</div>
